<!--d -->
<h1 class = "text-center"> Calculate your carbon emissions! </h1>

<form action = "{% url 'reroute' %}" method = "post">
    {% csrf_token %}
    <input type="radio" id = 'F' name="Radio" value="Food"> Food
    <input type="radio" id = 'T' name="Radio" value="Transportation"> Transportation
    <input type="radio" id = 'G' name="Radio" value="Goods"> Goods 
    <div class = "text-center">
        <input class = "bg-primary fw-bold w-auto p-3 mb-4 border-primary-subtle border-5 rounded-pill border" type="submit" value="Submit">
    </div>
</form>

